body {
    background-color: rgb(165, 222, 236);
  }
  /* estilize o body */
  .header_div
    {
      background-color: rgb(21, 100, 114);
      color: rgb(243, 243, 243);
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
     /*Estilize  */
    }
  
    .header_div p{
      color: rgb(44, 18, 78);
      letter-spacing: 2px;
      font-family: 'Roboto', sans-serif;
   /* estilize */
    }
    .main_div button{
      margin-top: 20px;
      width: 150px;
      letter-spacing: 2px;
      color: rgb(255, 255, 255);
      background-color: rgb(31, 33, 70);
  /* estilize */
    }
    .copy_right_footer {
     position: fixed;
     font-weight: bolder;
     bottom: 20;
     width: 100%;
     text-align: center;
     /* estilize */
  }
  